# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

8056

In [6]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [11]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [12]:
# TO-DO: Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS project2 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [13]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('project2')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [44]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4
query = "CREATE TABLE IF NOT EXISTS songplay "
query = query + "(sessionid int, iteminsession int, artist varchar, song_title varchar, song_length decimal,  PRIMARY KEY ((sessionid), iteminsession ))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [39]:
df = pd.read_csv('event_datafile_new.csv')
type(df.length[0])

numpy.float64

In [ ]:
#[0 'artist',1 'firstName',2 'gender',3 'itemInSession', 4'lastName', 5'length',\
#                 6 'level',7 'location',8 'sessionId',9 'song', 10'userId']

In [45]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO songplay (sessionid, iteminsession, artist, song_title, song_length)"
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (eval(line[8]), eval(line[3]), line[0], line[9], eval(line[5])))

#### Do a SELECT to verify that the data have been inserted into each table

In [54]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table


query = """SELECT artist, song_title, song_length FROM songplay 
                WHERE sessionid = 338 AND iteminsession =4
                """


try:
    rows = session.execute(query)
except Exception as e:
    print(e)
             
for row in rows: 
    print('Artist:', row.artist, ', Song:', row.song_title, ', Length:', row.song_length)

Artist: Faithless , Song: Music Matters (Mark Knight Dub) , Length: 495.3073

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [62]:


## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
query = "CREATE TABLE IF NOT EXISTS songplay2 "
query = query + """(userid int, sessionid int, iteminsession int, 
                    artist varchar, song_title varchar, 
                    user_firstname varchar, user_lastname varchar,  
                    PRIMARY KEY ((userid), sessionid, iteminsession))"""
try:
    session.execute(query)
except Exception as e:
    print(e)

In [63]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = """INSERT INTO songplay2 (userid, sessionid, iteminsession, 
                                            artist, song_title, user_firstname, 
                                            user_lastname)"""
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (eval(line[10]), eval(line[8]),
                                eval(line[3]), line[0], line[9], 
                                line[1], line[4]))

In [66]:

## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

query = """SELECT artist, song_title, user_firstname, user_lastname FROM songplay2 
                WHERE userid = 10 AND sessionid = 182 
                """


try:
    rows = session.execute(query)
except Exception as e:
    print(e)
             
for row in rows: 
    print(row.artist, ', ', row.song_title, ', ', row.user_firstname, ', ', row.user_lastname)

Down To The Bone ,  Keep On Keepin' On ,  Sylvie ,  Cruz
Three Drives ,  Greece 2000 ,  Sylvie ,  Cruz
Sebastien Tellier ,  Kilometer ,  Sylvie ,  Cruz
Lonnie Gordon ,  Catch You Baby (Steve Pitron & Max Sanna Radio Edit) ,  Sylvie ,  Cruz

In [68]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
query = "CREATE TABLE IF NOT EXISTS songplay3 "
query = query + """(song_title varchar, userid int, 
                    user_firstname varchar, user_lastname varchar,  
                    PRIMARY KEY ((song_title), userid ))"""
try:
    session.execute(query)
except Exception as e:
    print(e)

In [69]:

file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO songplay3 (song_title, userid, user_firstname, user_lastname)"
        query = query + "VALUES (%s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[9], eval(line[10]), line[1], line[4]))

In [70]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app 
# history who listened to the song 'All Hands Against His Own'
query = """SELECT user_firstname, user_lastname FROM songplay3 
                WHERE song_title = 'All Hands Against His Own' 
                """


try:
    rows = session.execute(query)
except Exception as e:
    print(e)
             
for row in rows: 
    print(row.user_firstname, ', ', row.user_lastname)

Jacqueline ,  Lynch
Tegan ,  Levine
Sara ,  Johnson

### Drop the tables before closing out the sessions

In [4]:
## TO-DO: Drop the table before closing out the sessions

In [71]:

try: 
    session.execute('DROP TABLE IF EXISTS songplay')
except Exception as e:
    print(e)
    

try: 
    session.execute('DROP TABLE IF EXISTS songplay2')
except Exception as e:
    print(e)
    
try: 
    session.execute('DROP TABLE IF EXISTS songplay3')
except Exception as e:
    print(e)

### Close the session and cluster connectionÂ¶

In [72]:
session.shutdown()
cluster.shutdown()